li {
  list-style: none;
}

.track-container {
  width: 950px;
  height: 230px;
  border: 1px solid silver;
}

.artwork-box {
  width: 250px;
  height: 161px;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  float: left;
}

.results-list {
  width: 950px;
  height: auto;
  text-align: center;
}

.track-artwork {
  width: 160px;
  height: 160px;
  margin-left: 45px;
}

.playtrackicon {
  font-size: 150px;
  color: rgba(250, 250, 250, .7);
}

.fa-pause {
  font-size: 150px;
  color: rgba(250, 250, 250, .7);
}

.song-search {
  margin-top: 10px;
  margin-left: 375px;
  width: 250px;
  height: 100px;
}

.song-search-input {
  padding: 10px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid silver;
  outline: none;
}

.artist-info {
  width: 700px;
  height: 80px;
  border-bottom: 1px solid silver;
  margin-left: 250px;
  line-height: 50px;
}

.reset-track {
  border: 0;
  background-color: white;
  text-align: center;
  display: inline-block;
  margin-left: 40px;
  margin-right: 170px;
}

.fa-undo {
  /*Stuff*/
}

.play {
  border: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 1;
  left: 60px;
  top: 13px;
  outline: none;
}

.song-name {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 165px;
  line-height: 30px;
  font-size: 20px;
}

.artist-name {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.fa-volume-up {
  margin-left: 150px;
}

.play-menu {
  width: 700px;
  height: 80px;
  border-bottom: 1px solid silver;
  line-height: 80px;
  margin-left: 250px;
}

.time-played {
  margin-left: 50px;
  margin-right: 30px;
}

.bar-box {
  width: 400px;
  height: 7px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid silver;
  display: inline-block;
}

.progress-bar {
  width: 350px;
  height: 7px;
  border-radius: 50px;
  background-color: black;
}

.time-left {
  margin-left: 30px;
}

.options-menu {
  width: 945px;
  height: 67px;
  line-height: 67px;
}

.fa-soundcloud {
  margin-left: 50px;
}

.buy-text {
  margin-left: 200px;
}

.play-text {
  margin-left: 200px;
}

.playsmallicon {
  margin-right: 5px;
}

.favorite-text {
  margin-left: 200px;
}

.fa-heart {
  margin-right: 5px;
}
